:root {
    --fuenteHeading: 'fibra_oneultrabold_it';
    --fuenteParrafos: 'Crimson Pro', serif;

    --primario: #306586;
    --secundario: #9FBFB7;
    --rojo: #C9494E;
    --negro: #000000;
    --blanco: #FFFFFF;
    --verde: #27B491;
}

/* reset */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    line-height: 2rem;
}

/* globales */

body::-webkit-scrollbar {
    width: 0;
}



.no-scroll{
    overflow-y: hidden;
}

.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-size: 2.5rem;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}



/* utilidades */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}


/*  Header  */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 0 2rem;
    font-size: 2rem;
}

@media (min-width: 1200px) {
    .header{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 0px 0px;
        width: min(90%, 120rem);
        margin: 0 auto;
    }
}

.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1200px) {
    .header-menu {
        display: none;
    }
}

.logo,
.logo-menu {
    min-width: 20rem;
    height: auto;
    margin:0 auto;
}

@media (min-width: 1200px) {
    .logo,
    .logo-menu{
        min-width: 30rem;
    }
}


.menu-hidden,
.menu-link{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-link img{
    cursor: pointer;
}

@media (min-width: 1200px) {
    .menu-hidden{
        grid-area: 1 / 2 / 2 / 3;}

    .menu-link {
        z-index: 3;
    }
}

.abrir-menu,
.cerrar-menu {
    margin: 0 auto;
    cursor: pointer;
    width: 3rem;
    height: 4rem;
    max-width: none;
}

.img-abrir-menu,
.img-cerrar-menu{
    width: 4rem;
}

/* Navegacion */

.nav {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #306586;
    padding: 2rem;
    transition: all .3s ease-in-out;
    z-index: 2;
}

@media (min-width: 1200px) {
    .nav{
        opacity: 1;
        visibility: visible;
        position: inherit;
        width: 100%;
        margin: auto;
        background-color: inherit;
        padding: 0;
        box-shadow: none;
        grid-area: 1 / 1 / 2 / 4;
    }
}

.nav.visible{
    opacity: 1;
    visibility: visible;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1200px) {
    .nav-list{
        display: grid; 
        grid-template-columns: repeat(6, 1fr); 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        text-align: center;
    }

    .nav-text__primero{
        grid-area: 1 / 6 / 2 / 7;
    }
    
    .nav-text__segundo{
        grid-area: 1 / 1 / 2 / 2;
    }
    
    .nav-text__tercero{
        grid-area: 1 / 5 / 2 / 6;
    }
    
    .nav-text__cuarto{
        grid-area: 1 / 2 / 2 / 3;
    }
}

.nav-text{
    margin-top: 1rem;
    padding: 1.5rem;
    transform: skewY(-4.2deg);
}

.nav-enlace {
    display: block;
    text-decoration: none;
    color: var(--blanco);
    transform: skewY(4.2deg);
}

@media (min-width: 1200px) {
    .nav-enlace{
        color: var(--primario);
    }

    .nav-enlace__rojo {
        color: var(--rojo);
        font-style: italic;
    }
}

.nav-text:first-child{
    background-color: #6AB391;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

@media (min-width: 1200px) {
    .nav-text:first-child{
        background-color: inherit;
        width: 100%;
    }
}

.nav-svg {
    display: flex;
    list-style-type: none;
    gap: .5rem;
}

.nav-icon {
    width: 5rem;
    height: auto;
}

.img-redes{
    width: 100%;
}

.abrir-menu{
    display: block;
    min-width: 3rem;
    border: none;
    background-color: inherit;
}

@media (min-width: 1200px) {
    .abrir-menu{
        display: none;
    }

    .nav-redes{
        display: none;
    }
}

.cerrar-menu{
    width: 3rem;
    border: none;
    background-color: inherit;
}


/* Hero */

.webp .hero {
    background-image: url(../img/hero.webp);
}

.nowebp .hero{
    background-image: url(../img/hero.jpg);
}

.hero {
    transform: skewY(-4.2deg);
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 1rem auto;
    color: var(--blanco);
    text-transform: uppercase;
}

@media (min-width: 480px) {
    .hero{
        height: 50rem;
        margin-top: 2.5rem;
    } 

    .hero h1 {
        font-size: 4rem;
    }
}

@media (min-width: 1200px) {
    .hero{
        height: 80rem;
    }

    .hero h1 {
        font-size: 7rem;
    }
}

.hero-div{
    height: 100%;
    padding: 2rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.hero-title{
    transform: skewY(4.2deg);
    grid-area: 3 / 1 / 4 / 4;
    z-index: 1;
    padding: .6rem;
    font-size: 2rem;
}

.title-button{
    background-color: inherit;
    color: var(--blanco);
    border: none;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
}

.formulario-sumate{
    transform: skewY(4.2deg);
    grid-area: 1 / 1 / 4 / 4;
    background-color: #306586;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.formulario-sumate.visible{
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

/* Botón Cerrar Formulario */

.div-boton-cerrar{
    grid-area: 1 / 6 / 2 / 7;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
}

.boton-cerrar-sumate{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--secundario);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mauticform-sumate{
    grid-area: 1 / 1 / 7 / 7;
    width: 100%;
    padding: 2rem;
    font-family: var(--fuenteHeading);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mauticform-sumate label{
    display: block;
    width: 100%;
}

.mauticform-sumate input {
    background-color: var(--secundario);
    border: none;
    border-radius: 1rem;
    text-align: center;
    height: 3rem;
    margin-top: 3rem;
    text-transform: uppercase;
}

.mauticform-sumate button {
    background-color: var(--secundario);
    width: 100%;
    border: 2px solid var(--negro);
    border-radius: 1rem;
    height: 2.5rem;
    margin: 2rem 0;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

.mauticform-sumate button:hover{
    color: var(--blanco);
    border: 2px solid var(--blanco);
}

.muaticform-sumate.mauticform-errormsg{
    display: none;
}

/* Main */

/* Seccion Somos */
.main {
    margin: 4rem auto;
    text-align: center;
}

.titulo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    gap: .3rem;
}

.titulo-principal{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primario);
    margin: .5rem;
}

.logo-titulos{
    width: 4rem;
}

.parrafo-main{
    color: var(--primario);
    font-size: 2.6rem;
    margin: 0 auto 1.5rem auto;
    font-weight: 400;
    line-height: 3rem;
}

.texto-rojo{
    color: var(--rojo);
    font-style: italic;
    font-weight: bold;
}

/* Seccion Como Lo Hacemos */

.como-lo-hacemos{
    margin: 3rem 0;
}

.div-titulo-clh{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: .1rem;
}

.titulo-clh{
    color: var(--rojo);
    text-transform: uppercase;
    margin: 0;
}

.lista-como-lo-hacemos{
    margin: 0;
    padding: 0 0 0 2.5rem;
}


.elemento-lista-clh{
    margin: 1.5rem 0;
    color: var(--primario);
    list-style: none;
    font-size: 2.6rem;
    line-height: 3rem;
    text-align: left;
    font-weight: 400;
}

.elemento-lista-clh::before{
    content: url(../img/list-icon.svg);
    width: 1.9rem;
    display: inline-block;
    height: 20px;
    margin-left: -20px;
}

/* Seccion Ejes */

.div-titulo-ejes{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.titulo-ejes{
    text-transform: uppercase;
    color: var(--primario);
    margin: 0;
}

.subtitulos-ejes{
    margin: 2rem 0 1rem 0;
    font-size: 2.6rem;
    color: var(--rojo);
    text-align: left;
    font-family: var(--fuenteParrafos);
    font-style: italic;
    line-height: 2.3rem;
    font-weight: bold;
}

.parrafo-ejes{
    margin: 0;
    color: var(--primario);
    text-align: left;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 3rem;
}

/* Sección Cards */

.carrousel{
    height: auto;
    overflow-x: hidden;
}

.contenedor-carrousel{
    width: 400%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: all .6s ease-in-out;
    transform: translateX(0%);
}

.botonera-carrousel{
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.boton{
    width: 25%;
    padding-bottom: 25%;
    background-image: url(../img/iconoLaBancaInactivo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.boton.activo{
    background-image: url(../img/iconoLaBancaActivo.svg);
}


.card{
    width: calc(100% / 4);
    margin: 1rem;
    background-color: var(--verde);
    transform: skewY(-4.2deg);
    border-radius: 2rem;
    display: flex;
    flex-flow: row wrap;
}


.titulo-cards{
    text-align: center;
    text-transform: uppercase;
    color: var(--primario);
}

.webp .contenedor-img {
    background-image: url(../img/img-card1.webp);
}

.nowebp .contenedor-img {
    background-image: url(../img/img-card1.png);
}

.contenedor-img{
    width: 100%;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: skewY(4.2deg);
}

.texto-card {
    width: 80%;
    margin: 0 auto;
    transform: skewY(4.2deg);
    color: var(--blanco);
}

.titulo-card{
    margin: 1rem 0 0 0;
    text-transform: uppercase;
}

.parrafo-card{
    margin: .1rem 0;
    font-weight: normal;
    text-align: left;
    line-height: 1.5rem;
}

.parrafo-negrita{
    font-weight: bold;
}

.enlace-card{
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: underline;
    color: var(--primario);
    display: block;
    margin: 1rem 0;
}

/* Sección Encuesta */



/* Footer */


.footer{
    line-height: 0;
}

.contenedor-footer {
    background-color: #306586;
}

.parrafo-footer{
    color: var(--blanco);
    text-align: center;
}

.contenido-footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.logo-footer{
    width: 80%;
}

.footer-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-form .mauticform-footer {
    width: 90%;
    font-family: var(--fuenteParrafos);
    font-weight: bold;
    font-size: 2rem;
}

.footer-form .mauticform-input{
    font-style: italic;
    width: 100%;
    height: 5rem;
    background-color: var(--blanco);
    text-align: center;
}

.footer-form .muatic-button{
    width: 100%;
    font-style: italic;
    color: var(--blanco);
    height: 5rem;
    background-color: var(--rojo);
    border: none;
    text-transform: capitalize;
}

.nav-redes-footer{
    list-style: none;
}